<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNetworking GetRequest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DACB11241DA6845F000A3B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACB11401DA6845F000A3B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DACB114B1DA6845F000A3B62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
